# Ignore git repository and IDE settings
.git
.idea
.vscode
.gitignore
.DS_Store

# Ignore database data folder
**/postgres/data

# Ignore local builds and binaries
*.exe
test_build
test_build.exe
bin/
dist/

# Ignore env files
.env
.env.*

Dockerfile*
infra/
.dockerignore
.github

README.md