# Ignore git repository and IDE settings
.git
.idea
.vscode
.gitignore
.DS_Store

# Ignore database data folder (Crucial!)
postgres/data

# Ignore local builds and binaries
*.exe
test_build
test_build.exe

# Ignore env files
.env

Dockerfile
docker-compose1.yml
.dockerignore

README.md
