# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Binaries / Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
test_build
test_build.exe
dist/
bin/

# Database data directories
postgres/data/
**/postgres/data
*.db

# Environment files
.env
.env.*
!.env.example
.env.local
.env.production
.env.development

*.pem
*.key
*.crt
*.csr

infra/haproxy/certs/

# Terraform

**/.terraform/
.terraform.lock.hcl.tmp
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
crash.log
crash.*.log
!*.tfvars.example