defaults
    mode http
    log global
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend fe
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/certificate.pem

    acl is_acme path_beg -i /.well-known/acme-challenge/

    http-request redirect scheme https unless { ssl_fc } or is_acme

    http-request set-header X-forwarded-Proto https if { ssl_fc }
    http-request set-header X-forwarded-Proto http unless { ssl_fc }
    option forwardfor

    use_backend acme if is_acme
    default_backend be

backend be
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    server static app:8080 check

backend acme
    server acme acme:8080
